{% extends "base.html" %}
{% block title %}{{ activity.title }}{% endblock %}

{% block jumbotron-top %}
    <h1>{{ activity.title }}</h1>
    <p>{{ activity.description }}</p>
{% endblock jumbotron-top %}

{% block jumbotron-maincontainer %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="row">
        <form action="{{request.path}}" method="post" role="form">
            {% csrf_token %}
            {% for field in voteform %}
                <div class="form-group">
                   <h3> <label for="{{ field.id_for_label}}" class="checkbox-inline label label-primary ">{{ field.label}}</label></h3>
                     <span class="input-group-addon">
                        {{field}}
                    </span>
                </div>
            {% endfor %}
            <p class="text-center"><input type="submit" value="Vote" class="btn btn-success btn-lg"/></p>
        </form>
    </div>
{% endblock jumbotron-maincontainer %}