{% extends "base.html" %}
{% block title %}{{ activity.title }}{% endblock %}

{% block jumbotron-top %}
    <h1>{{ activity.title }}</h1>
    <p>{{ activity.description }}</p>
{% endblock jumbotron-top %}

{% block jumbotron-maincontainer %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="row">
        <form action="{{request.path}}vote/" method="post">
            {% csrf_token %}
            {% for field in voteform %}
                <div class="fieldWrapper">
                    <label for="{{ field.id_for_label}}">{{ field.label}}</label>
                    {{field}}
                </div>
            {% endfor %}
            <p><input type="submit" value="Vote" /></p>
        </form>
    </div>
{% endblock jumbotron-maincontainer %}