{% extends "base.html" %}
{% block title %}Anti-Partypooper{% endblock %}

{% block navbar-brand %}Group 12 AI term project{% endblock %}
{% block jumbotron-top %}
    <h1>Don't poop my party</h1>
    <p>Tired of endless conversations when trying to make plans with your friends? Too many
        possibilities and impossible schedules? Try our best-plan finder!</p>
    <p><a class="btn btn-primary btn-lg" role="button">Start a poll &raquo;</a></p>
{% endblock jumbotron-top %}

{% block jumbotron-maincontainer %}
      <div class="row">
        <div class="col-md-4">
          <h2>Achieve a peaceful mind</h2>
          <p>One problem when trying to decide a plan is attitudes. If you are done with trying to manage all the "I won't go if Jane it's not comming" use our planner. It will take into account all this bs and propose to your group only the best fitting options with out driving you insane</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>I'll rather go hiking</h2>
          <p>We know your friends have preferences. And we know everybody wants to push his prefered option until the others give up. Let us skip you this pooping: our planner will ask your friends their preferences and dont's and find the plans that make more people happy</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>More people, more fun</h2>
          <p>Once everybody has answered your poll in a matter of seconds our planner will provide you with the best options: the one's more people like, are able to attend and will be the most fun. I've run out of ideas and this is just to fill up space.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Vinh, Mike, Kike 2013</p>
      </footer>
{% endblock jumbotron-maincontainer %}
