{% extends "base.html" %}
{% block title %}Login{% endblock %}


{% block jumbotron-maincontainer %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form class="navbar-form" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
        <div class="form-group">
        <!--<input type="text" placeholder="Email" class="form-control">-->
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password }}
        </div>
        <input type="submit" value="Sign in" class="btn btn-success"/>
        <input type="hidden" name="next" value="{% url 'events:index' %}" />
    </form>

{% endblock jumbotron-maincontainer %}