{% extends "base.html" %}
{% block title %}Create event{% endblock %}

{% block jumbotron-top %}
    <h1>Create event</h1>
    <p>TODO: instructions</p>
{% endblock jumbotron-top %}

{% block jumbotron-maincontainer %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="row">
        <form method="post" action="" role="form">
            <h2>Event</h2>
            {% for field in event_form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}

            {% for aform in activity_forms %}
                <h2>New Activity</h2>
                {% for field in aform %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
            {% endfor %}
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
{% endblock jumbotron-maincontainer %}