{% extends "base.html" %}
{% block title %}{{ event.title }}{% endblock %}

{% block jumbotron-top %}
    <h1>{{ event.title }}</h1>
    <p>{{ event.comment }}</p>
{% endblock jumbotron-top %}

{% block jumbotron-maincontainer %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="row">
      {% for activity in event.activity_set.all %}
          <div class="col-md-4">
            <h2>{{activity.title}}</h2>
            <p>{{ activity.description}}</p>
            <h4>Proposed days:</h4>
            {% for day in activity.day_set.all %}
              <div class="row">
                <p>{{ day.dateAndTime }}</p>
              </div>
            {% endfor%}
            <p><a class="btn btn-info btn-lg" role="button" href="{% url 'events:activitydetail' event.id activity.id %}">Vote your preferences &raquo;</a></p>
          </div>
      {% endfor %}
    </div>
{% endblock jumbotron-maincontainer %}