{% extends "base.html" %}
{% block title %}{{ poll.title }}{% endblock %}

{% block jumbotron-top %}
    <h1>{{ poll.title }}</h1>
    <p>{{ poll.comment }}</p>
{% endblock jumbotron-top %}

{% block jumbotron-maincontainer %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="row">
    {% for Activity in poll.activity_set.all %}
        <div class="col-md-4">
          <h2>{{Activity.title}}</h2>
          <p>{{ Activity.description}}</p>
          <p><a class="btn btn-default" href="#" role="button">Vote</a></p>
        </div>
    {% endfor %}

    </div>
{% endblock jumbotron-maincontainer %}
