{% extends "base.html" %}
{% block title %}Current polls{% endblock %}

{% block jumbotron-top %}
    <h1>Current polls</h1>
    <p>List of all the current polls in the system</p>
{% endblock jumbotron-top %}


{% block jumbotron-maincontainer %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="row">
        {% if all_poll_list %}
            {% for poll in all_poll_list %}
                <div class="col-md-4">
                    <h2>{{poll.title}}</h2>
                    <p>{{ poll.comment}}</p>
                    <a href="{% url 'polls:detail' poll.id %}">View this poll</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>
{% endblock jumbotron-maincontainer %}
